{
	"$schema": "https://json.schemastore.org/prettierrc.json",
	"useTabs": true,
	"tabWidth": 3,
	"arrowParens": "always",
	"bracketSpacing": true,
	"printWidth": 120,
	"endOfLine": "auto",
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": false,
	"bracketSameLine": false,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"trailingComma": "all",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"requirePragma": false,
	"plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
	"importOrder": ["^react$", "^next(.*)$", "^react-dom(.*)$", "^@?\\w", "^@/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true,
	"tailwindFunctions": ["cn", "clsx", "cva"]
}
